span {
  margin: 5px;
}

.delete-icon {
  height: 15px;
}

.delete-icon:hover {
  transform: scale(1.8);
  cursor: pointer;
}
.ChangeButton{
  margin-left: 10px;
}
.ChangeButton:hover{
  font-size:large
}
